.intro-content {
    padding: 2.5% 4%;
    background-color: yellow;
    font-weight: 800;
    font-size: x-large;
    border-radius: 1.5em;
    margin: 1.4% 2%;
}
.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.portfolio-icon {
    width: 34vw;
    border-radius: 2em;
}
.portfolio-icon-container {
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
